*{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
}

h1 {
    color: blue;
    border: 1ch;
}

p{
    background-color: aqua;
    font-weight: 900;
}